body {
    background-color: rgb(224, 220, 220);
    text-align: center;
}

div {
    border-color: blue;
    border-width: 20px;

}
.board-container {
    margin-top: 50px;
    display: inline-block;
}

.h2 {
    border-bottom: 3px solid rgb(14, 12, 12);
    
    margin:auto;
    width: 158px;
}

.cell {
    width: 70px;
    height: 70px;
    
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid rgb(49, 154, 165);
    background-color: rgb(142, 137, 137);
}
.cell:hover {
    opacity: 80%;
}
.restart {
    display: inline-block;
    font-size: 30px;
    padding: 5px;
}

button {
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(0, 255, 255, 0.406);
    border: 1px solid rgb(16, 34, 240);
}
.select-level {
    margin-left: 15px;
}

.select-level button {
    background-color: green;
    border: 1px solid limegreen;

}